<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Recipe Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>

<body class="bg-dark text-light">
<header>
    <nav
        class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-secondary border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Recipe Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav w-100  d-flex justify-content-end">
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <li class="nav-item">
                            @User.Identity.Name
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Account", new { }, new { @class = "btn btn-secondary" })
                        </li>
                    }
                    else
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                @Html.ActionLink("Register", "Register", "Account", new { }, new { @class = "btn btn-secondary" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Login", "Login", "Account", new { }, new { @class = "btn btn-secondary" })
                            </li>
                        </ul>
                    }
                </ul>
            </div>

        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>

</html>